{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Chatbot{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        <footer>
            &copy; 2023 DD_Chatbot. All rights reserved.
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
